@media (max-width: 1250px) {
  .container {
    padding: 0 80px;
  }

  .form-enter {
    right: calc(100% - 152px);
    left: auto;

    padding-left: 40px;
    padding-right: 40px;
  }

  .header-bottom {
    width: 100%;
  }

  .nav-bottom {
    display: flex;
    width: 100%;
  }

  .nav__list-bottom {
    display: flex;
    width: 93%;
    justify-content: space-between;
  }

  .nav__link-bottom {
    margin: 0;
  }

  .musik-blocks {
    width: 582px;
  }

  .age-control-img {
    display: none;
  }

  .header-logo-block {
    display: none;
  }

  .logo-media {
    padding: 22px 0;
    background-color: var(--sky-white);
  }
  .header-logo-block-media {
    display: flex;
  }
  .container-top-logo {
    display: flex;
  }

  .header-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .musik-blocks {
    display: flex;
    width: 487px;
  }

  .online-block-1 {
    padding-right: 24px;
  }
  .online-block-2 {
    padding-right: 11px;
  }

  .hero__container-block {
    max-width: 539px;
  }

  .hero__container {
    background-image: url(../img/microphone-1024.png);
    background-position: right;
  }

  .shows__card {
    width: calc((100% - (var(--gap) * 1)) / 2);
  }
  .shows__card:nth-child(3n) {
    margin-right: var(--gap);
  }
  .shows__card:nth-child(2n) {
    margin-right: 0;
  }

  .guest-card-descr {
    max-width: 255px;
  }

  .guests__list {
    width: calc(100% - 254px - var(--gap));
  }

  .play-list__container {
    flex-direction: column;
  }

  .play-list__left-top {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  .play-list__right {
    order: 2;
  }

  .play-list__left-bottom {
    display: none;
  }
  .play-list__left-bottom-media {
    display: flex;
    flex-direction: column;
    order: 3;
  }

  .play-list__left {
    width: 490px;
  }
  .play-list__left-top {
    width: 490px;
    max-width: 490px;
    border-bottom: none;
  }

  .checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    width: 498px;
  }

  .checkbox-style:nth-child(1) {
    display: flex;
    order: 1;
    margin-right: 30px;
    width: 100px;
  }
  .checkbox-style:nth-child(2) {
    display: flex;
    order: 3;
    margin-right: 30px;
    width: 100px;
  }
  .checkbox-style:nth-child(3) {
    display: flex;
    order: 5;
    margin-right: 30px;
    width: 100px;
  }
  .checkbox-style:nth-child(4) {
    display: flex;
    order: 7;
    margin-right: 30px;
    width: 100px;
  }
  .checkbox-style:nth-child(5) {
    display: flex;
    order: 2;
  }
  .checkbox-style:nth-child(6) {
    display: flex;
    order: 4;
  }
  .checkbox-style:nth-child(7) {
    display: flex;
    order: 6;
  }
  .checkbox-style:nth-child(8) {
    display: flex;
    order: 8;
  }

  .play-list__cards {
    padding-bottom: 42px;
    border-bottom: 1px solid var(--light-grey);
  }
  .play-list__card-item {
    flex-direction: row;
  }
  .play-list__card-information {
    display: flex;
    border-top: 1px solid #e6e8ec;
    border-left: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 65%;
  }
  .play-list__card-item {
    margin-right: var(--gap);
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap) * 2)) / 3);
  }
  .play-list__card-item:nth-child(4n) {
    margin-right: var(--gap);
  }
  .play-list__card-item:nth-child(3n) {
    margin-right: 0;
  }
  .play-list__card-item:nth-child(9) {
    margin-bottom: var(--gap);
  }

  .play-list__card-item:nth-child(10) {
    margin-bottom: var(--gap);
  }
  .play-list__card-item:nth-child(11) {
    margin-bottom: 0;
    height: fit-content;
  }
  .play-list__card-item:nth-child(12) {
    margin-bottom: 0;
    height: fit-content;
  }

  .country {
    left: 0;
  }

  .play-list__img-1 {
    background-image: url(../img/play-list__img-1-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-2 {
    background-image: url(../img/play-list__img-2-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-3 {
    background-image: url(../img/play-list-card-3-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-4 {
    background-image: url(../img/play-list-card-4-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-5 {
    background-image: url(../img/play-list-card-5-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-6 {
    background-image: url(../img/play-list-card-6-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-7 {
    background-image: url(../img/play-list-card-7-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-8 {
    background-image: url(../img/play-list-card-8-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-9 {
    background-image: url(../img/play-list-card-9-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-10 {
    background-image: url(../img/play-list-card-10-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-11 {
    background-image: url(../img/play-list-card-11-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }
  .play-list__img-12 {
    background-image: url(../img/play-list-card-12-1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112px;
    width: 133px;
  }

  .play-list__card-item:focus .shows-play-btn {
    left: 13%;
  }
  .play-list__card-item:hover .shows-play-btn {
    left: 13%;
  }
  .play-list__card-item:active .shows-play-btn {
    left: 13%;
  }

  .product-new {
    width: 97px;
  }
  .about-top-img-2 {
    display: none;
  }

  .form-style {
    display: block;
    max-width: 985px;
  }
  .placeholder-inner {
    max-width: 100%;
  }

  .input-email {
    width: 48%;
  }
  .input-name {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 100px;
  }
  .header-logo-block-media {
    width: 112px;
  }

  .header-bottom {
    width: 101%;
  }

  .nav__list-bottom {
    width: 94%;
  }

  .nav-button-top-search {
    margin-right: 25px;
  }

  .nav-button-top-enter {
    padding: 10px 30px;
  }

  .nav-bottom {
    width: 98%;
  }

  .online-block-2 {
    padding-right: 19px;
  }

  .hero__container-block {
    padding: 89px 0;
    padding-bottom: 113px;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero-descr {
    margin-bottom: 46px;
  }

  .container__shows {
    padding-bottom: 93px;
  }

  .shows__block-left {
    justify-content: flex-start;
  }

  .shows-left-top {
    margin-bottom: 194px;
  }

  .blogger-list {
    padding: 30px 0;
  }

  .blogger-item {
    margin-bottom: 16px;
    width: calc((100% - (var(--gap) * 2)) / 3);
  }

  .blogger-item:nth-child(3n) {
    margin-right: 0;
  }
  .blogger-item:nth-child(4n) {
    margin-right: 30px;
  }

  .blogger-item:nth-child(4) {
    display: flex;
    margin-bottom: 0;
    order: 13;
  }
  .blogger-item:nth-child(5) {
    display: flex;
    order: 4;
  }
  .blogger-item:nth-child(6) {
    display: flex;
    margin-right: var(--gap);
    order: 5;
  }
  .blogger-item:nth-child(7) {
    display: flex;
    margin-right: 0;
    order: 6;
  }
  .blogger-item:nth-child(8) {
    display: flex;
    margin-bottom: 0;
    order: 14;
  }
  .blogger-item:nth-child(9) {
    display: flex;
    margin-right: var(--gap);
    order: 7;
  }
  .blogger-item:nth-child(10) {
    display: flex;
    order: 8;
  }
  .blogger-item:nth-child(11) {
    display: flex;
    margin-right: 0;
    order: 9;
  }
  .blogger-item:nth-child(12) {
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
    order: 15;
  }
  .blogger-item:nth-child(13) {
    display: flex;
    margin-bottom: 16px;
    order: 10;
  }
  .blogger-item:nth-child(14) {
    display: flex;
    margin-bottom: 16px;
    order: 11;
  }

  .blogger-item:nth-child(15) {
    display: flex;
    margin-right: 0;
    margin-bottom: 16px;
    order: 12;
  }

  .guests__info {
    width: calc(100% - 250px);
  }

  .ac .ac-trigger {
    width: 99.3%;
  }

  .play-list__container {
    padding-bottom: 90px;
  }

  .play-list__right {
    padding-top: 4px;
  }

  .play-list__left-top-descr {
    padding-top: 41px;
  }

  .play-list__cards {
    padding-bottom: 12px;
  }

  .rights {
    display: inline-block;
    margin-bottom: 5px;
  }

  .product__container {
    padding-bottom: 120px;
  }

  .product__block {
    max-width: 394px;
  }

  .product__img {
    margin-top: 15%;
  }

  .product-new {
    width: 99px;
  }

  .product-new {
    position: absolute;
    left: 0px;
    top: -6px;
  }

  .product__descr-1 {
    margin-bottom: 13px;
    padding-top: 28px;
  }

  .about__block {
    max-width: 65%;
    margin-bottom: 27px;
  }

  .about-top-img-1 {
    display: none;
  }
  .about-top-img-2 {
    display: block;
    background-position: 4px 44px;
    width: 275px;
    height: 306px;
  }

  .swiper-button-next {
    right: -65px;
    left: auto;
    top: 130px;
  }

  .swiper-button-prev {
    left: -65px;
    right: auto;
    top: 130px;
  }

  .swiper-content {
    margin-bottom: 14px;
  }
  .placeholder-inner {
    margin-bottom: 26px;
    max-height: 149px;
  }

  .form-button {
    margin-bottom: 28px;
  }

  .footer {
    background-position: center 277px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 447px;
  }
  .footer__nav-link {
    margin-right: 122px;
    margin-bottom: 19px;
    width: calc((100% - (122px * 2)) / 3);
  }
}

@media (max-width: 992px) {
  .input-search--active {
    left: auto;
    right: 54%;
  }

  .form-enter {
    width: 539px;
  }

  .title-enter {
    margin-bottom: 10px;
  }

  .input-password,
  .input-login {
    width: 100%;

    padding-left: 30px;
  }

  .form-descr {
    font-weight: 400;
    font-size: 16px;
  }

  .descr-link {
    margin-bottom: 24px;
  }

  .input-password {
    margin-bottom: 33px;
  }

  .nav__list-top {
    display: none;
  }

  .nav-top {
    width: 100%;
  }

  .stop-scroll--active {
    overflow: hidden;
  }
  .stop-scroll {
    overflow: visible;
  }

  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 2000;
    width: 40px;
    height: 40px;
  }
  .burger:focus {
    outline: none;
  }
  .burger:focus .burger__line {
    background-color: var(--primary_light);
  }
  .burger:hover .burger__line {
    background-color: var(--primary);
  }
  .burger:active .burger__line {
    background-color: var(--primary);
  }

  .burger--active {
    z-index: 101;
  }

  .burger--active .burger__line:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
    left: 0;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:nth-child(3) {
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:nth-child(2) {
    display: none;
  }

  .burger-list .nav__list-top {
    position: absolute;
    background-image: url(../img/burger-img-1.png), url(../img/burger-img-2.png);
    background-repeat: no-repeat;
    background-position: 399px 86px, 542px -40px;
    left: 1px;
    top: 57px;
    width: 768px;
    max-width: 100%;
    padding-left: 102px;
    height: 320px;
    z-index: 100;
    padding-top: 95px;
    padding-right: 400px;
    padding-bottom: 106px;
    background-color: var(--light-grey);
    font-weight: 800;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-128%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav__link-top {
    display: flex;
    width: calc((100% - 48px) / 2);
  }
  .nav__link-top:nth-child(1) {
    order: 1;
  }
  .nav__link-top:nth-child(2) {
    order: 3;
  }
  .nav__link-top:nth-child(3) {
    order: 5;
  }
  .nav__link-top:nth-child(4) {
    order: 2;
  }
  .nav__link-top:nth-child(5) {
    order: 4;
  }

  .burger-list--active .nav__list-top {
    visibility: visible;
    transform: none;
  }

  .burger__line {
    position: absolute;
    left: 30%;
    width: 25px;
    top: 7px;
    height: 3px;
    background-color: var(--primary);
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 29px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header-bottom {
    justify-content: space-between;
    width: 100%;
  }

  .nav-bottom {
    width: 91%;
  }

  .musik-blocks {
    display: none;
  }

  .btn-1024-play {
    display: flex;
  }

  .hero__container {
    background-image: none;
  }

  .hero__container-block {
    width: 100%;
    max-width: 100%;
  }

  .podcast-card {
    margin-right: 0;

    width: 100%;
  }

  .container__shows {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--gap);
  }

  .shows-left-top {
    margin-bottom: 0;
  }

  .shows__cards-list {
    padding-bottom: 61px;
    padding-top: 18px;
    border-bottom: 1px solid var(--light-grey);
  }

  .shows-left-bottom {
    display: none;
  }
  .shows-left-bottom-media {
    display: flex;
    margin: 0 auto;
    padding-top: var(--gap);
  }

  .shows-img {
    margin-right: 20px;
  }
  .shows-descr-block {
    display: flex;
    flex-direction: column;
    width: 255px;
  }

  .guests__info {
    width: 100%;
  }

  .guests__accordeon-block {
    display: flex;
    flex-direction: column;
  }
  .guests__list {
    width: 100%;
    margin-bottom: var(--gap);
  }
  .guest-card-descr {
    max-width: 398px;
  }

  .play-list__card-item {
    width: calc((100% - (var(--gap) * 1)) / 2);
    margin-right: var(--gap);
  }
  .play-list__card-item:nth-child(2n) {
    margin-right: 0;
  }
  .play-list__card-item:nth-child(3) {
    margin-right: var(--gap);
  }
  .play-list__card-item:nth-child(7) {
    margin-right: var(--gap);
  }
  .play-list__card-item:nth-child(9) {
    margin-right: var(--gap);
  }

  .play-list__left-top-descr {
    width: 71%;
  }

  .play-list__card-information {
    max-height: 112px;
  }

  .product__container {
    flex-direction: column;
  }
  .product__img {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .product-img-992 {
    width: 100%;
  }

  .product-new {
    width: 160px;
  }

  .product__title {
    max-width: 370px;
  }

  .product__block {
    max-width: 100%;
  }

  .about__block {
    max-width: 100%;
    margin-bottom: var(--gap);
  }

  .input-name {
    width: 790px;
    max-width: 100%;
  }
  .input-email {
    width: 790px;
    max-width: 100%;
  }

  .footer {
    background-position: center 422px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 83px;
  }

  .about__descr-block {
    display: flex;
    flex-direction: column;
  }
  .about-top-img-2 {
    display: none;
    background-position-x: right;
    width: 100%;
    height: 112px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 114px;
  }

  .header-top {
    padding: 21px 0;
  }

  .burger-list--active .nav__list-top {
    padding-left: 114px;
  }

  .header-bottom {
    position: relative;
    padding: 17px 0;
  }

  .nav__list-bottom {
    width: 100%;
  }

  .hero__container-block {
    padding: 89px 0;
    padding-bottom: 115px;
  }

  .play-button-left {
    margin-right: 0;
  }

  .card-button-bottom {
    color: var(--hex);
  }

  .container__shows {
    padding-bottom: 14px;
  }

  .shows-img {
    margin-right: 23px;
    background-position: 2px 8px;
  }

  .shows-left-bottom-media {
    padding-top: 25px;
  }

  .guests__container {
    padding-bottom: 104px;
  }

  .blogger-list {
    padding: 31px 0;
  }

  .blogger-item {
    margin-bottom: 30px;
    width: calc((100% - (var(--gap) * 2)) / 3);
  }

  .blogger-item:nth-child(13) {
    display: flex;
    margin-bottom: 30px;
    order: 10;
  }
  .blogger-item:nth-child(14) {
    display: flex;
    margin-bottom: 30px;
    order: 11;
  }

  .blogger-item:nth-child(15) {
    display: flex;
    margin-right: 0;
    margin-bottom: 30px;
    order: 12;
  }

  .guests__list {
    margin-bottom: 53px;
  }

  .ac .ac-trigger {
    padding: 19px 0px;
  }

  .play-list__container {
    padding-bottom: 88px;
  }

  .play-list__cards {
    padding-bottom: 42px;
  }

  .checkbox-style {
    margin-bottom: 41px;
  }

  .play-list__right {
    padding-top: 11px;
  }

  .play-list__left-top-descr {
    width: 78%;
  }

  .product__img {
    margin-right: 0;
    margin-bottom: 39px;
  }

  .product__container {
    padding-top: 60px;
  }

  .product__descr-1 {
    margin-bottom: 13px;
    padding-top: 32px;
  }

  .about {
    background-image: url(../img/product-img-768.png), url(../img/Dawn.png);
    background-repeat: no-repeat;
    background-position-y: 474px;
    background-position-x: 0px, 541px;
    background-size: 514px 112px, 112px 112px;
  }

  .about__descr-1 {
    width: 535px;
    max-width: 100%;
  }

  .about__block {
    max-width: 100%;
    margin-bottom: 139px;
  }

  .swiper-content {
    margin-bottom: var(--gap);
    padding-top: 31px;
  }

  .swiper-button-next {
    top: 40%;
  }
  .swiper-button-prev {
    top: 40%;
  }

  .input-name {
    font-size: 19px;
    padding-bottom: 21px;
  }
  .input-email {
    font-size: 19px;
    padding-bottom: 21px;
  }

  .footer {
    background-position: center 439px;
  }

  .footer__media {
    padding-top: 20px;
    width: 143px;
  }

  .footer__media-item svg {
    display: block;
    width: 33px;
    height: 33px;
  }

  .nav-list {
    width: 540px;
    max-width: 100%;
  }

  .footer__nav-link {
    display: flex;
    margin-bottom: 30px;
  }
  .footer__bottom-part {
    padding-top: 72px;
  }
  .footer__nav-link {
    margin-right: 170px;
    width: calc((100% - (170px * 2)) / 3);
  }
}

@media (max-width: 725px) {
  .container {
    padding: 0 32px;
  }

  .burger-list--active .nav__list-top {
    padding-right: 44%;
    padding-left: 70px;
  }

  .checkbox {
    width: 341px;
  }

  .checkbox-style {
    margin-bottom: 15px;
  }
  .checkbox-style:nth-child(1) {
    order: 1;
  }
  .checkbox-style:nth-child(2) {
    order: 2;
  }
  .checkbox-style:nth-child(3) {
    order: 3;
  }
  .checkbox-style:nth-child(4) {
    order: 4;
  }
  .checkbox-style:nth-child(5) {
    order: 5;
  }
  .checkbox-style:nth-child(6) {
    order: 6;
  }
  .checkbox-style:nth-child(7) {
    order: 7;
  }
  .checkbox-style:nth-child(8) {
    order: 8;
  }

  .about {
    background-image: none;
  }

  .about__block {
    margin-bottom: 30px;
  }

  .nav-list {
    width: 100%;
    max-width: 100%;
  }

  .blogger-item {
    margin-right: 0;
    width: calc((100% - (var(--gap) * 1)) / 2);
  }

  .blogger-item {
    margin-right: 30px;
  }
  .blogger-item:nth-child(2n) {
    margin-right: 0;
  }
  .blogger-item:nth-child(3n) {
    margin-right: var(--gap);
  }

  .blogger-item:nth-child(1) {
    margin-right: var(--gap);
  }
  .blogger-item:nth-child(4) {
    margin-right: var(--gap);
    margin-bottom: var(--gap);
  }

  .blogger-item:nth-child(5) {
    margin-right: 0;
  }

  .blogger-item:nth-child(8) {
    align-items: flex-start;
  }

  .blogger-item:nth-child(9) {
    margin-right: var(--gap);
  }
  .blogger-item:nth-child(11) {
    margin-right: var(--gap);
  }
  .blogger-item:nth-child(13) {
    margin-right: 0;
    margin-bottom: var(--gap);
  }
  .blogger-item:nth-child(14) {
    margin-right: var(--gap);
  }
  .blogger-item:nth-child(15) {
    margin-right: 0;
  }

  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 670px) {
  .container {
    padding: 0 32px;
  }
  .form-enter {
    right: calc(100% - 155px);
    width: 256px;
    height: 442px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title-enter {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .form-descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 4px;
  }

  .descr-link {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }

  .input-password,
  .input-login {
    width: 100%;
    padding-left: 17px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 17px;
  }

  .button-enter {
    padding: 10px 57px;

    font-size: 16px;
  }

  .input-password {
    margin-bottom: 19px;
  }

  .media-descr {
    padding-top: 12px;
    margin-bottom: 11px;

    font-size: 12px;
  }

  .media-list {
    width: 100%;
  }

  .close {
    right: 19px;
    top: 12px;
  }

  .close svg {
    display: block;
    width: 30px;
  }

  .burger-list--active .nav__list-top {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
    background-image: none;
  }

  .nav__link-top:nth-child(4) {
    padding-top: 30px;
  }
  .nav__link-top:nth-child(5) {
    padding-top: 30px;
  }

  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 555px) {
  .title {
    font-size: 24px;
  }

  .input-search--active {
    right: 0px;
    left: auto;
    top: auto;
    outline: none;
  }

  .form-enter {
    right: calc(100% - 25px);

    top: -114px;
  }

  .header-top {
    padding: 13px 0;
  }

  .header-bottom {
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
  }

  .what-in {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .what-button {
    display: inline-flex;
    align-items: center;
    fill: var(--primary);
  }
  .what-in .what-button circle {
    fill: var(--primary);
  }
  .what-button:focus circle {
    fill: var(--primary_light);
  }
  .what-button:focus {
    outline: none;
  }
  .what-in:hover circle {
    fill: var(--primary_light);
  }
  .what-in:active circle {
    fill: var(--primary);
  }
  .what-button--active svg {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
  }

  .what-in-info {
    padding-left: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary);
  }

  .musik-blocks {
    display: none;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
  }
  .musik-blocks--active .hero__container-block--active {
    padding-top: 70px;
  }

  .container-header-bottom--active {
    background-color: var(--sky-white);
    border-right: 1px solid #e6e8ec;
    border-left: 1px solid #e6e8ec;
    transition: background-color 0.2s ease-in-out;
  }
  .musik-blocks--active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: visible;
    height: 70px;
    width: 100%;
    top: 53px;
    background-color: #fff;
    transition: visibility 0.8s ease-in-out, display 0.8s ease-in-out;
  }
  .online-block-1 {
    flex-direction: column;
    align-items: flex-start;
    border-left: none;
    padding-right: 17px;
    padding-top: 11px;
    padding-left: 0;
  }
  .online-block-2 {
    flex-direction: column;
    align-items: flex-start;

    border-right: none;
    padding-left: 35px;
    padding-top: 11px;
  }
  .btn-1024-play {
    display: none;
  }
  .nav__list-bottom {
    display: none;
  }

  .burger-list .nav__list-top {
    top: 84px;
    width: 768px;
    max-width: 100%;
    height: 264px;
    z-index: 100;
    padding-top: 95px;
    padding-right: 44%px;
    padding-bottom: 40px;
    box-shadow: none;
  }
  .burger-list .nav-bottom-media {
    position: absolute;
    left: 1px;
    top: 347px;
    width: 768px;
    max-width: 100%;
    padding-left: 32px;
    height: 168px;
    z-index: 100;
    padding-top: 5px;
    padding-right: 32px;
    padding-bottom: 25px;
    background-color: var(--white);
    font-weight: 800;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-128%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 25%);
  }
  .burger-list--active .nav-bottom-media {
    visibility: visible;
    display: flex;
    transform: none;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .burger-list--active .nav__list-bottom {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-top: 30px;
    color: #121723;
    transform: none;
    transition: visibility 0.3s ease-in-out, transform 0.4s ease-in-out;
  }
  .nav__link-bottom {
    width: calc((100% - 78px) / 2);
    margin-bottom: 30px;
  }
  .nav__link-bottom:nth-child(5) {
    margin-bottom: 0px;
  }
  .nav__link-bottom:nth-child(6) {
    margin-bottom: 0px;
  }

  .container-top-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-button-top-enter {
    display: none;
  }

  .nav-button-top-search {
    margin-right: 0px;
  }

  .header-right-block {
    width: fit-content;
  }

  .top-enter {
    display: flex;
  }

  .hero__container-block {
    padding-top: 40px;
    padding-bottom: 65px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
  }

  .hero-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .podcasts__container {
    padding: 54px 0;
  }

  .podcast-date {
    top: 0;
    left: auto;
    height: fit-content;
    z-index: 5;
  }

  .card-buttons-list {
    padding-top: 5px;
  }

  .card-img {
    width: -webkit-fill-available;
  }

  .card-info {
    padding: 16px;
  }

  .picture-podcast {
    width: 100%;
  }

  .podcast-card-item {
    flex-direction: column;
  }

  .podcasts__card-list .podcast-card:nth-child(5) {
    display: none;
  }
  .podcasts__card-list .podcast-card:nth-child(6) {
    display: none;
  }
  .podcasts__card-list .podcast-card:nth-child(7) {
    display: none;
  }
  .podcasts__card-list .podcast-card:nth-child(8) {
    display: none;
  }

  .podcasts__card-list--active .podcast-card:nth-child(5) {
    display: block;
  }
  .podcasts__card-list--active .podcast-card:nth-child(6) {
    display: block;
  }
  .podcasts__card-list--active .podcast-card:nth-child(7) {
    display: block;
  }
  .podcasts__card-list--active .podcast-card:nth-child(8) {
    display: block;
  }

  .container__shows {
    padding: 54px 0;
    padding-bottom: var(--gap);
  }

  .shows__cards-list {
    padding-bottom: 30px;
  }

  .shows__card-info {
    padding: 10px;
    padding-bottom: 12px;
    justify-content: space-between;
    height: 113px;
  }

  .shows__card-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }
  .shows__card-descr {
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
  }

  .more-link {
    font-size: 12px;
  }

  .shows__card-img {
    display: flex;
    width: 230px;
    width: -moz-available;
  }

  .shows-descr-block {
    flex-direction: column-reverse;
    width: 166px;
    font-size: 14px;
  }

  .shows-left-bottom-media {
    display: flex;
    margin: 0 auto;
    padding-top: 7px;
  }

  .shows-img {
    background-position-y: 16px;
  }

  .archive-button {
    width: 110px;
    padding: 9px 31px;
    border-radius: 77px;
  }

  .guests__container {
    padding: 54px 0;
    padding-bottom: var(--gap);
  }

  .blogger-name {
    font-size: 14px;
  }

  .we-have {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }

  .guests__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  .ac .ac-trigger {
    padding-top: 3px;
    padding-bottom: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .accordeon-button svg {
    width: 26.26px;
  }

  .play-list__container {
    padding-top: 54px;
    padding-bottom: var(--gap);
  }

  .play-list__left-top {
    width: 100%;
    max-width: 100%;
  }
  .play-list__left {
    max-width: 100%;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 112%;
    overflow-y: scroll;
  }
  .checkbox-style {
    margin: 0;
    margin-right: 10px;
    padding: 8px 12px;
    min-width: fit-content;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 77px;
  }

  .checkbox-style:focus {
    background-color: var(--primary_light);
    color: var(--white);
    border-color: var(--white);
  }
  .checkbox-style:nth-child(1) {
    background-color: var(--primary);
    color: var(--white);
  }
  .checkbox-style:active {
    background-color: var(--primary_shade);
    color: var(--white);
    border-color: var(--primary_shade);
  }

  .check__box {
    display: none;
  }

  .checkbox-style:nth-child(1) {
    margin-right: 10px;
  }
  .checkbox-style:nth-child(2) {
    margin-right: 10px;
  }
  .checkbox-style:nth-child(3) {
    margin-right: 10px;
  }
  .checkbox-style:nth-child(4) {
    margin-right: 10px;
  }

  .checkbox-style:nth-child(8) {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .play-list__cards {
    justify-content: center;
  }

  .play-list__card-item {
    max-width: 150px;
    margin-right: 100px;
    flex-direction: column;
    margin-right: var(--gap);
  }

  .play-list__card-item:focus .shows-play-btn {
    left: 33%;
  }
  .play-list__card-item:hover .shows-play-btn {
    left: 33%;
  }
  .play-list__card-item:active .shows-play-btn {
    left: 33%;
  }

  .play-list__img-1 {
    width: 100%;
  }
  .play-list__img-2 {
    width: 100%;
  }
  .play-list__img-3 {
    width: 100%;
  }
  .play-list__img-4 {
    width: 100%;
  }
  .play-list__img-5 {
    width: 100%;
  }
  .play-list__img-6 {
    width: 100%;
  }
  .play-list__img-7 {
    width: 100%;
  }
  .play-list__img-8 {
    width: 100%;
  }
  .play-list__img-9 {
    width: 100%;
  }
  .play-list__img-10 {
    width: 100%;
  }
  .play-list__img-11 {
    width: 100%;
  }
  .play-list__img-12 {
    width: 100%;
  }

  .play-list__card-information {
    padding: 10px;

    width: 100%;
    max-width: 100%;
    border-left: 1px solid var(--light-grey);
    border-top: none;
  }

  .play-list__card-name {
    font-size: 12px;
  }
  .play-list__card-descr {
    font-size: 9px;
  }

  .product-new {
    width: 100px;
  }
  .yandex-link {
    background-position: 14px 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 15px;
    padding-left: 41px;

    font-size: 16px;
  }
  .footer__nav-link {
    margin-right: 30px;
    width: calc((100% - (30px * 2)) / 3);
  }
}

@media (max-width: 375px) {
  .title {
    margin-bottom: 20px;
  }

  .logo-media {
    padding: 0;
  }

  .form-enter {
    top: -66px;
  }

  .online-block-1 {
    padding-bottom: 20px;
  }
  .online-block-2 {
    padding-bottom: 20px;
  }
  .hero__container-block {
    padding-bottom: 55px;
  }
  .logo {
    width: 88px;
  }

  .nav-button-top-enter {
    padding: 9px 23px;
  }

  .header-logo-block-media {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .burger {
    width: 29px;
  }

  .burger-list .nav__list-top {
    top: 53px;
  }

  .burger-list .nav-bottom-media {
    top: 317px;
  }

  .header-top {
    padding: 6px 0;
  }

  .header-bottom {
    padding: 12px 0;
  }

  .hero__title {
    margin-bottom: 9px;
  }

  .hero__button {
    padding: 17px 45px;

    font-size: 16px;
  }

  .hero-descr {
    margin-bottom: 36px;
  }

  .podcasts__container {
    padding: 54px 0;
    padding-bottom: 51px;
  }

  .card-info {
    padding: 15px;
  }

  .card-time {
    margin-bottom: 5px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-autor {
    font-size: 12px;
  }

  .card-play svg {
    width: 35px;
  }

  .card-button-bottom {
    display: flex;
    font-size: 13px;
    margin-right: 30px;
  }

  .card-buttons-list {
    width: 165px;
    padding-top: 9px;
    padding-left: 35px;
    align-items: center;

    justify-content: space-between;
  }

  .svg-button-bottom {
    margin-right: 5px;
  }

  .more-button-style {
    padding: 14px 29px;
    font-size: 16px;
  }
  .podcasts__card-list {
    margin-bottom: 0;
  }

  .container__shows {
    padding: 54px 0;
    padding-bottom: 26px;
  }

  .choices {
    margin-bottom: 32px;
  }

  .shows__title {
    margin-bottom: 18px;
  }

  .shows__author {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .shows__card-title {
    margin-bottom: 5px;
  }

  .shows__card-block {
    margin-bottom: 0;
  }

  .shows__card-descr {
    margin-bottom: 0;
  }
  .shows__cards-list {
    padding-top: 0;
  }

  .shows__card-info {
    padding: 10px;
    height: 99px;
  }

  .archive-descr {
    padding-top: 22px;
    margin-bottom: 6px;
  }

  .archive-button {
    width: 112px;
    font-size: 16px;
    padding: 9px 31px;
    border-radius: 77px;
  }

  .shows-img {
    background-image: url(../img/microphone-shows-320.png);
    background-repeat: no-repeat;
    background-position-y: 23px;
    height: 131px;
    width: 78px;
    margin-right: 12px;
  }

  .guests__title {
    margin-bottom: 12px;
  }

  .we-have {
    margin-bottom: 0;
  }

  .guests__info {
    margin-bottom: 27px;
  }

  .blogger-list {
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 18px;
    max-width: 220px;
    margin: 0;
  }

  .blogger-item {
    margin-bottom: 26.5px;
    width: calc((100% - (64px * 1)) / 2);
  }

  .blogger-name {
    text-align: start;
    font-size: 14px;
  }

  .ac .ac-trigger {
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 13.5px;
  }

  .guests__list {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .guest__media {
    width: 144px;
    margin-bottom: 15px;
  }

  .guest__media-item svg {
    display: flex;
    width: 30px;
    height: 30px;
  }

  .ether-with-guest {
    padding: 8px 13.5px;
  }

  .guests__container {
    padding: 54px 0;
    padding-bottom: 61px;
  }

  .play-list__container {
    padding-bottom: 51px;
  }

  .play-list__genre {
    margin-bottom: 1px;
    font-size: 12px;
  }

  .checkbox-style {
    display: flex;
    align-items: center;
    padding: 13px 19px;
    font-size: 16px;
    line-height: 7px;
  }

  .checkbox-style:nth-child(1) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(2) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(3) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(4) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(5) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(6) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(7) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .checkbox-style:nth-child(8) {
    margin-right: 0px;
    margin-bottom: 0;
  }

  .checkbox {
    margin-bottom: 19px;
  }

  .country {
    left: auto;
  }

  .play-list__card-information {
    padding: 9px;
  }

  .play-list__cards {
    padding-bottom: 32px;
  }

  .play-list__left-top-descr {
    padding-top: 27px;
    width: 88%;
    font-size: 12px;
    line-height: 16px;
  }

  .rights {
    font-size: 12px;
  }

  .product__container {
    padding-bottom: 71px;
  }

  .product__container {
    padding-top: 57px;
  }

  .product-new {
    width: 62px;
    top: -2px;
  }

  .product__img {
    margin-right: 0;
    margin-bottom: 31px;
  }

  .product__title {
    margin-bottom: 7px;
  }

  .product__descr-1 {
    padding-top: 31px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 158%;
  }
  .product__descr-2 {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 158%;
  }

  .product__price {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .about__container {
    padding-top: 56px;
    padding-bottom: 52px;
  }

  .about__block {
    margin-right: 0;
    margin-bottom: 0;
  }

  .about__title {
    margin-bottom: 10px;
  }

  .about__descr-1 {
    margin-bottom: 5px;
    width: 247px;
    max-width: none;
    font-size: 14px;
  }

  .about__descr-2 {
    font-size: 14px;
    line-height: 158%;
  }

  .swiper {
    height: auto;
  }

  .swiper-content {
    padding-top: 29px;
    margin-bottom: 24px;
  }

  .swiper-slide {
    margin-right: 20px;
  }

  .slide-name {
    padding-top: 6px;
    margin-bottom: 0px;
    width: min-content;
    font-size: 14px;
    line-height: 19px;
  }

  .slide-descr {
    font-size: 12px;
    line-height: 18px;
  }

  .swiper-slide {
    height: 220px;
  }

  .swiper-wrapper {
    height: 63%;
  }

  .placeholder-inner {
    margin-bottom: 25px;
    padding-top: 13px;
    padding-left: 22px;
    max-height: 150px;
    height: 150px;
    font-weight: 400;
    font-size: 16px;

    border-radius: 21px;
  }
  .input-name {
    margin-bottom: 30px;
    padding-top: 13px;
    padding-left: 22px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;

    border-radius: 21px;
  }
  .input-email {
    margin-bottom: 30px;
    padding-top: 13px;
    padding-left: 22px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;

    border-radius: 21px;
  }

  .form-button {
    padding: 16px 45px;
    margin-bottom: 16px;
    font-size: 16px;
  }

  .personal-check {
    font-size: 9px;
  }

  .footer {
    background-position: center 409px;
  }

  .footer__container {
    padding-top: 55px;
  }

  .footer__left-block {
    margin-bottom: 55px;
  }

  .footer__right-block {
    width: 121%;
    background-color: #121723;
  }
  .footer__bottom-part {
    font-size: 12px;
  }

  .footer__nav {
    padding: 25px;
    padding-left: 30px;
    padding-bottom: 7px;
  }

  .footer__nav-link {
    margin-right: 30px;
    margin-bottom: 21px;
    width: calc((100% - (30px * 1)) / 2);
    font-size: 12px;
  }
  .footer__nav-link:nth-child(3n) {
    margin-right: 30px;
  }
  .footer__nav-link:nth-child(2n) {
    margin-right: 0px;
    width: calc((100% - (30px * 1)) / 2);
  }

  .footer__nav-link {
    display: flex;
  }
  .footer__nav-link:nth-child(1) {
    order: 1;
  }
  .footer__nav-link:nth-child(2) {
    order: 7;
    margin-right: 30px;
  }
  .footer__nav-link:nth-child(3) {
    order: 4;
    margin-right: 0;
  }
  .footer__nav-link:nth-child(4) {
    order: 3;
    margin-right: 30px;
  }
  .footer__nav-link:nth-child(5) {
    order: 8;
    margin-right: 0;
  }
  .footer__nav-link:nth-child(6) {
    order: 6;
  }
  .footer__nav-link:nth-child(7) {
    order: 5;
  }
  .footer__nav-link:nth-child(8) {
    order: 2;
  }
  .footer__nav-link:nth-child(9) {
    order: 8;
  }

  .footer__bottom-part {
    padding-top: 32px;
  }
  .just-validate-error-label {
    top: -39px;
  }
}
